*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.input{
    font-size:14px;
    background:white;
    border-radius:50px;
    width:350px;
    outline:none;
  }
  ::-webkit-file-upload-button{
    color:white;
    background:#206a5d;
    padding:10px;
    border:none;
    border-radius:50px;
    outline:none;
  }
  .input-feild{
      width: 50%;
      padding: 10px ;
      margin: 5px 0;
      border-radius:50px;
      border: 1px solid #999;
      outline:none;
  }
  .input-area{
      margin-top: 30px;
      padding: 10px;
      width: 50%;
      border-left: 1px solid #999;
      border-top: 1px solid #999;
      border-right: 1px solid #999;
      border-bottom:1px solid #999;
      outline: none;
    border-radius:50px;
  }
  .input-drop{
      margin: 30px auto;
      padding: 10px 0;
      width: 20%;
      border-left: 1px solid #999;
      border-top: 1px solid #999;
      border-right: 1px solid #999;
      border-bottom:1px solid #999;
      outline: none;
      background: transparent;   
     border-radius:50px;
  }
  .check-box{
      margin: 20px 10px 20px 0;
  }
  span{
      color: #777;
      font-size: 12px;
      bottom: 68px;
  }
  .Product-detail{
      top: 20px;
      width: 100%;
      transition: .5s;
      overflow: hidden;
    margin:auto 20%;
  }
  h3{
    font-weight:700;
    font-size:20px;
    color:#8c7ae6;
  }
  h1{
      text-align: center;
      color: #273c75;
  }
  hr{
      width: 20%;
  }
  .l1{
    color: #777;
  }
  .btn{
    background: #e84393;
    width:50%;
    border: none;
    height:50px;
    margin: 20px 10px;
    border-radius:50px;
    color: #fff;
    font-weight: bold;
  }
  .btn:hover{
    background: #fd79a8;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }